In [4]:
import edgar
import pandas as pd

In [2]:
# download the documents with all the quaters urls fillings
# of all companies since 2018
edgar.download_index('./data', 2018,skip_all_present_except_last=False)

In [3]:
selectedcompany = 'Alphabet Inc.'
selectedreport = '10-Q'

csv = pd.read_csv('./data/2019-QTR4.tsv', sep='\t',  lineterminator='\n', names=None)

csv.columns.values[0] = 'Item'

# searching the 10-Q item of a company
companyreport = csv[(csv['Item'].str.contains(selectedcompany)) & (csv['Item'].str.contains(selectedreport))]

Filing = companyreport['Item'].str.split('|')
Filing = Filing.tolist()

# getting the html filing url
for item in Filing[0]:
    if 'html' in item:
        report = item
url = 'https://www.sec.gov/Archives/' + report
# https://www.sec.gov/ix?doc=/Archives/edgar/data/1326801/000132680119000069/fb-09302019x10q.htm

# pandas gets the tables of a page
document_index = pd.read_html(url, header=0)[0]
document_index
document_index = document_index.dropna()

document_name = document_index[document_index['Description'].str.contains(selectedreport)]
document_name = document_name['Document'].str.split(' ')
document_name = document_name[0][0]

report_formatted = report.replace('-','').replace('index.html','')
# 10k url
url = 'https://www.sec.gov/Archives/' + report_formatted + '/' + document_name
url

'https://www.sec.gov/Archives/edgar/data/1652044/000165204419000032/goog10-qq32019.htm'

In [45]:
df = pd.read_html(url)

#getting the balance sheet
for item in df:
    BS = (item[0].str.contains('Retained') | item[0].str.contains('Total Assets'))
    if BS.any():
        Balance_Sheet = item

# Balance_Sheet = Balance_Sheet.iloc[2:,[0,2,6]]
Balance_Sheet = Balance_Sheet.iloc[2:]
header = Balance_Sheet.iloc[0]
Balance_Sheet = Balance_Sheet[1:]

Balance_Sheet.columns = header
Balance_Sheet

2,nan,"As of December 31, 2018",nan,"As ofSeptember 30, 2019",nan,nan,nan,nan
3,NaN,NaN,NaN,(unaudited),NaN,NaN,NaN,NaN
4,Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Current assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cash and cash equivalents,$,16701,NaN,NaN,$,16032.0,NaN
7,Marketable securities,92439,NaN,NaN,105145,NaN,NaN,NaN
8,"Total cash, cash equivalents, and marketable s...",109140,NaN,NaN,121177,NaN,NaN,NaN
9,"Accounts receivable, net of allowance of $729 ...",20838,NaN,NaN,20889,NaN,NaN,NaN
10,"Income taxes receivable, net",355,NaN,NaN,192,NaN,NaN,NaN
11,Inventory,1107,NaN,NaN,1401,NaN,NaN,NaN
12,Other current assets,4236,NaN,NaN,4699,NaN,NaN,NaN
13,Total current assets,135676,NaN,NaN,148358,NaN,NaN,NaN
14,Non-marketable investments,13859,NaN,NaN,12488,NaN,NaN,NaN
15,Deferred income taxes,737,NaN,NaN,564,NaN,NaN,NaN
16,"Property and equipment, net",59719,NaN,NaN,69252,NaN,NaN,NaN
17,Operating lease assets,0,NaN,NaN,10341,NaN,NaN,NaN
18,"Intangible assets, net",2220,NaN,NaN,1747,NaN,NaN,NaN
19,Goodwill,17888,NaN,NaN,18069,NaN,NaN,NaN
20,Other non-current assets,2693,NaN,NaN,2225,NaN,NaN,NaN
21,Total assets,$,232792,NaN,NaN,$,263044.0,NaN
22,Liabilities and Stockholdersâ€™ Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Current liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Accounts payable,$,4378,NaN,NaN,$,4142.0,NaN
25,Accrued compensation and benefits,6839,NaN,NaN,7399,NaN,NaN,NaN
26,Accrued expenses and other current liabilities,16958,NaN,NaN,21038,NaN,NaN,NaN
27,Accrued revenue share,4592,NaN,NaN,4835,NaN,NaN,NaN
28,Deferred revenue,1784,NaN,NaN,1679,NaN,NaN,NaN
29,"Income taxes payable, net",69,NaN,NaN,131,NaN,NaN,NaN
30,Total current liabilities,34620,NaN,NaN,39224,NaN,NaN,NaN
31,Long-term debt,4012,NaN,NaN,4082,NaN,NaN,NaN
32,"Deferred revenue, non-current",396,NaN,NaN,364,NaN,NaN,NaN
33,"Income taxes payable, non-current",11327,NaN,NaN,11355,NaN,NaN,NaN
34,Deferred income taxes,1264,NaN,NaN,1747,NaN,NaN,NaN
35,Operating lease liabilities,0,NaN,NaN,9666,NaN,NaN,NaN
36,Other long-term liabilities,3545,NaN,NaN,1637,NaN,NaN,NaN
37,Total liabilities,55164,NaN,NaN,68075,NaN,NaN,NaN
38,Commitments and Contingencies (Note 10),NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Stockholdersâ€™ equity:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"Convertible preferred stock, $0.001 par value ...",0,NaN,NaN,0,NaN,NaN,NaN
41,"ClassÂ A and Class B common stock, and Class C ...",45049,NaN,NaN,49040,NaN,NaN,NaN
42,Accumulated other comprehensive loss,"(2,306",),NaN,"(1,196",),NaN,NaN
43,Retained earnings,134885,NaN,NaN,147125,NaN,NaN,NaN
44,Total stockholdersâ€™ equity,177628,NaN,NaN,194969,NaN,NaN,NaN
45,Total liabilities and stockholdersâ€™ equity,$,232792,NaN,NaN,$,263044.0,NaN

In [55]:
url = "https://www.sec.gov/Archives/edgar/data/789019/000156459020019706/Financial_Report.xlsx"
df = pd.ExcelFile(url)
df1 = pd.read_excel(df, 'BALANCE SHEETS')

In [56]:
df

,BALANCE SHEETS - USD ($) $ in Millions,"Mar. 31, 2020","Jun. 30, 2019"
0,Current assets:,NaN,NaN
1,Cash and cash equivalents,11710,11356
2,Short-term investments,125916,122463
3,"Total cash, cash equivalents, and short-term i...",137626,133819
4,"Accounts receivable, net of allowance for doub...",22699,29524
5,Inventories,1644,2063
6,Other current assets,8536,10146
7,Total current assets,170505,175552
8,"Property and equipment, net of accumulated dep...",41221,36477
9,Operating lease right-of-use assets,8448,7379
10,Equity investments,2660,2649
11,Goodwill,42064,42026
12,"Intangible assets, net",6855,7750
13,Other long-term assets,13696,14723
14,Total assets,285449,286556
15,Current liabilities:,NaN,NaN
16,Accounts payable,9246,9382
17,Current portion of long-term debt,3748,5516
18,Accrued compensation,6254,6830
19,Short-term income taxes,3296,5665
20,Short-term unearned revenue,27012,32676
21,Other current liabilities,9151,9351
22,Total current liabilities,58707,69420
23,Long-term debt,62862,66662
24,Long-term income taxes,28888,29612
25,Long-term unearned revenue,3385,4530
26,Deferred income taxes,185,233
27,Operating lease liabilities,7248,6188
28,Other long-term liabilities,9673,7581
29,Total liabilities,170948,184226
30,Commitments and contingencies,,
31,Stockholdersâ€™ equity:,NaN,NaN
32,Common stock and paid-in capital â€“ shares auth...,79813,78520
33,Retained earnings,32012,24150
34,Accumulated other comprehensive income (loss),2676,-340
35,Total stockholdersâ€™ equity,114501,102330
36,Total liabilities and stockholdersâ€™ equity,285449,286556